/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*img {
  max-width: 100%;
}*/

#main-section {
  padding: 3rem;
}

.extra-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: hsl(206, 9%, 15%);
}
.button-blue {
  background-color: #5865f2;
  color: hsl(0, 0%, 100%);
  padding: 0.8rem, 2rem;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
.button-blue:hover {
  background-color: hsl(235, 83%, 72%);
}

.button-white {
}
/*MAIN SECTION*/

.main-section-image {
  width: 1900px;
}
.main-section-text > h2 {
  color: hsl(206, 9%, 15%);
  font-weight: 900;
  font-size: 2rem;
}
p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 20px;
}

.text-image-section {
  padding: 4rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-image-section:nth-child(even) {
  flex-direction: row-reverse;
}
.text-image-section:nth-child(odd) {
  background-color: hsl(0, 0%, 96%);
}

/*SECONDARY SECTION*/

.secondary-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondary-section-text {
  text-align: center;
  padding: 35px;
}
.secondary-section-text > h1 {
  font-size: clamp(20px, 4vw, 40px);
}
.sparkle-background {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
  gap: 2rem;
}
.sparkle-background > h4 {
  font-size: 2rem;
  color: hsl(206, 9%, 15%);
}
.sparkle-background > img {
  margin-bottom: -3.2rem;
}
.button-blue > img {
  filter: invert(1);
}
.button-blue > p {
  margin-bottom: 0.9rem;
}

/*FOOTER*/

#footer {
  background-color: #23272a;
  color: hsl(0, 0%, 100%);
  padding: 25px;
  width: 100%;
  font-weight: 300;
  color: hsl(0, 0%, 100%);
}

.language {
  display: flex;
}
.language > img {
  width: 25px;
  height: 15px;
}
.language > select {
  background-color: transparent;
  border: none;
  color: white;
}
.social {
  gap: 1rem;
  display: inline-flex;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}
.info-titles {
  color: hsl(231, 59%, 46%);
  margin-bottom: 2rem;
  font-weight: 400;
}
.container > a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.container > a:hover {
  text-decoration: underline;
}
.border {
  margin-top: 30px;
  border-bottom: 2px solid hsl(231, 59%, 46%);
  width: 75%;
  margin: 3% 13%;
}

.footer-logo {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  padding: 0 3.5rem;
  margin-left: 7%;
}

.button-blue-footer {
  background-color: hsl(235, 86%, 65%);
  color: white;
  padding: 0.8rem, 2rem;
  margin-right: 7%;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
.button-blue-footer:hover {
  background-color: hsl(235, 83%, 72%);
}
