/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.extra-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #23272a;
}
.button-blue {
  background-color: #5865f2;
  color: white;
  padding: 0.8rem, 2rem;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.button-white {
}
------------------------ /*MAIN SECTION*/--------------------

.main-section-image {
  width: 1900px;
}
.main-section-text > h1 {
  color: #23272a;
  font-weight: 900;
  font-size: 2rem;
}
p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 20px;
}

.text-image-section {
  padding: 4rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-image-section:nth-child(even) {
  flex-direction: row-reverse;
}
.text-image-section:nth-child(odd) {
  background-color: #f6f6f6;
}

------------------------ /*SECONDARY SECTION*/--------------------

.secondary-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondary-section-text {
  text-align: center;
  padding: 35px;
}
.secondary-section-text > h1 {
  font-size: clamp(20px, 4vw, 40px);
}
.sparkle-background {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
  gap: 2rem;
}
.sparkle-background > h4 {
  font-size: 2rem;
  color: #23272a;
}
.sparkle-background > img {
  margin-bottom: -3.2rem;
}
.button-blue > img {
  filter: invert(1);
}
.button-blue > p {
  margin-bottom: 0.9rem;
}
------------------------ /*FOOTER*/--------------------
 footer {
  background-color: #23272a;
}
